<article>
    <time datetime = "{{ post.date | date: "%Y-%m-%d" }}">
        <span class = "month">{{ post.date | date: "%b" }}</span>
        <span class = "day">{{ post.date | date: "%d" }}</span>
        <span class = "year">{{ post.date | date: "%Y" }}</span>
    </time>
    <a href = "{{ post.url }}"><h2>{{ post.title }}</h2></a>
    {{ post_content }}

    {%if post_comments %}
    <div id = "disqus_thread"></div>
    {%else%}
    <center>
        <a href = "{{post.url}}#disqus_thread">Comments</a>
    </center>
    {%endif%}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = "alertdebugging";
    {%if post_comments %}
    var script_url = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    {%else%}
    var script_url = 'http://' + disqus_shortname + '.disqus.com/count.js';
    {%endif%}
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = script_url;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
