<article>
    <time datetime = "{{ post.date | date: "%Y-%m-%d" }}">
        <span class = "month">{{ post.date | date: "%b" }}</span>
        <span class = "day">{{ post.date | date: "%d" }}</span>
        <span class = "year">{{ post.date | date: "%Y" }}</span>
    </time>
    <a href = "{{ post.url }}"><h2>{{ post.title }}</h2></a>
    {{ post_content }}
    <div style = "height:40px; width:150px; float:right">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="tolmasky" data-url="http://alertdebugging.com{{ post.url }}">Tweet</a><br/>
    <div class="fb-like" data-href="http://alertdebugging.com{{ post.url }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div><br/>
    <div class="g-plusone" data-href="http://alertdebugging.com{{ post.url }}" data-annotation="inline" data-width="150"></div>
    </div><br style = "clear:both;"/><br/><br/>
    {%if page.url == '/index.html' %}
    <center>
        <a href = "{{post.url}}#disqus_thread">Comments</a>
    </center>
    {%else%}
    <div id = "disqus_thread"></div>
    {%endif%}

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
